.container {
  padding: 5vb;
  padding-bottom: 0%;
  background-color: rgb(231, 213, 174);
  width: 50vb;
  height: auto;
  border-radius: 10px;
}
h4 {
  font-weight: bold;
}
hr {
  border: 5px solid white;
}
h3 {
  font-weight: bolder;
}
p {
  font-weight: bold;
  color: white;
}
button {
  width: auto;
  height: 4vh;
  border-radius: 5px;
  background-color: rgb(190, 166, 113);
  color: white;
  font-weight: bold;
  border: 1px solid rgb(190, 166, 113);
  margin-top: 5vb;
  cursor: pointer;
}
